In [1]:
import sys
print(sys.executable)

/Users/sadivamadaan/flow-dynamic-assignment/.venv/bin/python

In [2]:
import json
import os
import pandas as pd

In [3]:
### first exploring romantic books
df = pd.read_json("data/goodreads_books_romance.json", lines = True, nrows = 10000)
print (df.head())
print (df.columns)

         isbn  text_reviews_count    series country_code language_code  \
0                               4        []           US
1                              21  [811663]           US         en-US
2  1597371289                   8        []           US           eng
3                              27  [938303]           US         en-GB
4                              15        []           US           eng

                                     popular_shelves        asin is_ebook  \
0  [{'count': '4', 'name': 'to-read'}, {'count': ...                 true
1  [{'count': '598', 'name': 'to-read'}, {'count'...  B01BLJGA9S     true
2  [{'count': '16215', 'name': 'classics'}, {'cou...                false
3  [{'count': '25', 'name': 'to-read'}, {'count':...  B01HX6PENG     true
4  [{'count': '1492', 'name': 'to-read'}, {'count...  B013Q70BQG     true

   average_rating kindle_asin  ... publication_month edition_information  \
0            3.86              ...                 5
1            4.23  B01BLJGA9S  ...
2            3.99  B0083Z3O8Y  ...                 9
3            4.31  B01HX6PENG  ...
4            3.98  B013Q70BQG  ...

  publication_year                                                url  \
0             2017  https://www.goodreads.com/book/show/34883016-p...
1                   https://www.goodreads.com/book/show/29074693-p...
2             2005   https://www.goodreads.com/book/show/3209316-emma
3                   https://www.goodreads.com/book/show/30838933-g...
4                   https://www.goodreads.com/book/show/27419760-w...

                                           image_url   book_id ratings_count  \
0  https://images.gr-assets.com/books/1493525974m...  34883016             5
1  https://s.gr-assets.com/assets/nophoto/book/11...  29074693           149
2  https://s.gr-assets.com/assets/nophoto/book/11...   3209316            42
3  https://s.gr-assets.com/assets/nophoto/book/11...  30838933           139
4  https://images.gr-assets.com/books/1457306424m...  27419760           167

    work_id                                     title  \
0  56135087         Playmaker: A Venom Series Novella
1  46079519     Prowled Darkness (Dante's Circle, #7)
2   3360164                                      Emma
3  51437308  Guardian Cougar (Finding Fatherhood, #2)
4  46003673                              Wedding Girl

                       title_without_series
0         Playmaker: A Venom Series Novella
1     Prowled Darkness (Dante's Circle, #7)
2                                      Emma
3  Guardian Cougar (Finding Fatherhood, #2)
4                              Wedding Girl

[5 rows x 29 columns]
Index(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code',
       'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin',
       'similar_books', 'description', 'format', 'link', 'authors',
       'publisher', 'num_pages', 'publication_day', 'isbn13',
       'publication_month', 'edition_information', 'publication_year', 'url',
       'image_url', 'book_id', 'ratings_count', 'work_id', 'title',
       'title_without_series'],
      dtype='object')

In [4]:
df.head(10)

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,4,[],US,,"[{'count': '4', 'name': 'to-read'}, {'count': ...",,true,3.86,,...,5,,2017,https://www.goodreads.com/book/show/34883016-p...,https://images.gr-assets.com/books/1493525974m...,34883016,5,56135087,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella
1,,21,[811663],US,en-US,"[{'count': '598', 'name': 'to-read'}, {'count'...",B01BLJGA9S,true,4.23,B01BLJGA9S,...,,,,https://www.goodreads.com/book/show/29074693-p...,https://s.gr-assets.com/assets/nophoto/book/11...,29074693,149,46079519,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)"
2,1597371289,8,[],US,eng,"[{'count': '16215', 'name': 'classics'}, {'cou...",,false,3.99,B0083Z3O8Y,...,9,,2005,https://www.goodreads.com/book/show/3209316-emma,https://s.gr-assets.com/assets/nophoto/book/11...,3209316,42,3360164,Emma,Emma
3,,27,[938303],US,en-GB,"[{'count': '25', 'name': 'to-read'}, {'count':...",B01HX6PENG,true,4.31,B01HX6PENG,...,,,,https://www.goodreads.com/book/show/30838933-g...,https://s.gr-assets.com/assets/nophoto/book/11...,30838933,139,51437308,"Guardian Cougar (Finding Fatherhood, #2)","Guardian Cougar (Finding Fatherhood, #2)"
4,,15,[],US,eng,"[{'count': '1492', 'name': 'to-read'}, {'count...",B013Q70BQG,true,3.98,B013Q70BQG,...,,,,https://www.goodreads.com/book/show/27419760-w...,https://images.gr-assets.com/books/1457306424m...,27419760,167,46003673,Wedding Girl,Wedding Girl
5,,1,[584334],US,en-US,"[{'count': '341', 'name': 'to-read'}, {'count'...",B00HWK35OY,true,3.79,B00HWK35OY,...,,,,https://www.goodreads.com/book/show/20566082-a...,https://s.gr-assets.com/assets/nophoto/book/11...,20566082,53,32222419,"A Kitty in the Lion's Den (Sweet Water, #3)","A Kitty in the Lion's Den (Sweet Water, #3)"
6,,1,[],US,ger,"[{'count': '8', 'name': 'to-read'}, {'count': ...",B00WGK56S8,true,4.00,B00WGK56S8,...,,,,https://www.goodreads.com/book/show/26831576-l...,https://s.gr-assets.com/assets/nophoto/book/11...,26831576,6,45753175,Lebkuchenküsse,Lebkuchenküsse
7,,105,[],US,eng,"[{'count': '1279', 'name': 'to-read'}, {'count...",B00LD69YWA,true,3.84,B00LD69YWA,...,,,,https://www.goodreads.com/book/show/22600550-g...,https://s.gr-assets.com/assets/nophoto/book/11...,22600550,686,41697569,Grace for Drowning,Grace for Drowning
8,,1,[514956],US,ita,"[{'count': '8205', 'name': 'to-read'}, {'count...",B00AQHW5P0,true,4.13,B00AQHW5P0,...,1,,2013,https://www.goodreads.com/book/show/17373671-l...,https://images.gr-assets.com/books/1360846319m...,17373671,5,18151286,L'isola dell'amore proibito,L'isola dell'amore proibito
9,,11,[709800],US,en-US,"[{'count': '153', 'name': 'to-read'}, {'count'...",B00Q2DWV4M,true,3.75,B00Q2DWV4M,...,11,1st Edition,2014,https://www.goodreads.com/book/show/23615331-h...,https://images.gr-assets.com/books/1416947877m...,23615331,112,43219002,"Healer's Touch (Hearts And Thrones, #4)","Healer's Touch (Hearts And Thrones, #4)"

In [5]:
df["title"].nunique()

9737

In [6]:
df.columns

Index(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code',
       'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin',
       'similar_books', 'description', 'format', 'link', 'authors',
       'publisher', 'num_pages', 'publication_day', 'isbn13',
       'publication_month', 'edition_information', 'publication_year', 'url',
       'image_url', 'book_id', 'ratings_count', 'work_id', 'title',
       'title_without_series'],
      dtype='object')

In [11]:
df[["title", "description", "average_rating", "popular_shelves", "similar_books", "format"]]

,title,description,average_rating,popular_shelves,similar_books,format
0,Playmaker: A Venom Series Novella,Secrets. Sometimes keeping them in confidence ...,3.86,"[{'count': '4', 'name': 'to-read'}, {'count': ...",[],ebook
1,"Prowled Darkness (Dante's Circle, #7)",,4.23,"[{'count': '598', 'name': 'to-read'}, {'count'...","[25515353, 20483269, 25650829, 18913492, 22578...",
2,Emma,The funny and heartwarming story of a young la...,3.99,"[{'count': '16215', 'name': 'classics'}, {'cou...","[31242, 374380, 20564, 383206, 7891, 6335178, ...",Audio CD
3,"Guardian Cougar (Finding Fatherhood, #2)","In the Finding Fatherhood series, these shifte...",4.31,"[{'count': '25', 'name': 'to-read'}, {'count':...",[],
4,Wedding Girl,You've Got Mailmeets Julie & Juliain the new f...,3.98,"[{'count': '1492', 'name': 'to-read'}, {'count...","[386097, 7774253, 576667, 471907, 43174, 38977...",
...,...,...,...,...,...,...
9995,No Time for Love,Conner O'Brian knows his engagement is a mista...,3.96,"[{'count': '281', 'name': 'to-read'}, {'count'...","[1978307, 4437970, 1236102, 1812496, 5100168, ...",Paperback
9996,Incursion,When the local authorities ask Kyle Juenger to...,3.92,"[{'count': '167', 'name': 'to-read'}, {'count'...","[12080817, 17201647, 16200045, 18619542, 15849...",
9997,Drown the Boy,"Neil, 16, finds himself powerfully drawn to th...",3.18,"[{'count': '12', 'name': 'to-read'}, {'count':...",[],ebook
9998,The Submission of Alistair Ingram (Dolls & Dom...,,3.75,"[{'count': '1164', 'name': 'to-read'}, {'count...","[16300439, 17255057, 15746028, 9927565, 157083...",ebook
9999,Pemberley Weddings,What if Colonel Fitzwilliam told Mr. Darcy tha...,3.08,"[{'count': '20', 'name': 'to-read'}, {'count':...",[],

In [12]:
df_filt = df[["text_reviews_count", "average_rating", "description", "authors", "publisher", "num_pages", "publication_month",
"publication_year", "book_id", "title", "title_without_series"]]

df_filt.shape

(10000, 11)

In [13]:
del df

In [15]:
df_filt["book_id"].isna().sum()

np.int64(0)

In [16]:
book_ids = df_filt["book_id"].values.tolist()
book_ids[:5]

[34883016, 29074693, 3209316, 30838933, 27419760]

In [30]:
filtered = []
needed_ids = set(book_ids)

with open("data/goodreads_reviews_romance.json", "r") as f:
    for line in f:
        obj = json.loads(line)
        if int(obj["book_id"]) in needed_ids:
            filtered.append(obj)

# Convert to DataFrame
df_reviews = pd.DataFrame(filtered)
print(df_reviews.head())

                            user_id   book_id  \
0  01ec1a320ffded6b2dd47833f2c8e4fb  32620360
1  01ec1a320ffded6b2dd47833f2c8e4fb  34377372
2  01ec1a320ffded6b2dd47833f2c8e4fb  34346381
3  01ec1a320ffded6b2dd47833f2c8e4fb  34758250
4  01ec1a320ffded6b2dd47833f2c8e4fb  33932353

                          review_id  rating  \
0  6659e2a0bcface86f0835714023f24f4       4
1  5308f2e435ed92c1630c0d9ead959641       5
2  e824a65f65ccbe69ae27ad656edaf3f6       4
3  e442eb21ffac09df2da965bcc885e576       4
4  42d513dbf8e4621ae164fd683ab2bbc5       4

                                         review_text  \
0  "I promise to love you forever. As long as the...
1  4.5 "Big Red" Stars!! \n OMG this is one of TH...
2  "He was so addictive. Like candy. Or drugs. On...
3  I absolutely love when Mara White and K. Larse...
4  "You're all mystery, Vera. Half-truths and bol...

                       date_added                    date_updated  \
0  Mon Aug 14 11:05:35 -0700 2017  Sun Aug 20 08:09:55 -0700 2017
1  Thu May 04 10:03:17 -0700 2017  Sun Jun 25 12:39:26 -0700 2017
2  Thu Apr 27 22:44:30 -0700 2017  Tue Aug 15 05:57:10 -0700 2017
3  Tue Apr 04 06:58:06 -0700 2017  Sun Apr 09 15:11:50 -0700 2017
4  Mon Mar 13 13:12:55 -0700 2017  Thu Mar 30 07:06:12 -0700 2017

                          read_at                      started_at  n_votes  \
0  Sat Aug 19 13:30:57 -0700 2017  Mon Aug 14 00:00:00 -0700 2017        8
1  Sun Jun 25 12:39:26 -0700 2017  Tue Jun 20 23:00:58 -0700 2017       10
2  Mon Aug 14 13:49:10 -0700 2017  Sun Aug 13 12:27:48 -0700 2017        9
3  Sun Apr 09 15:47:34 -0700 2017  Tue Apr 04 06:58:06 -0700 2017       10
4  Thu Mar 23 12:57:43 -0700 2017                                       15

   n_comments
0           0
1           0
2           2
3           0
4           0

In [31]:
df_reviews.shape

(119020, 11)

In [32]:
df_reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,01ec1a320ffded6b2dd47833f2c8e4fb,32620360,6659e2a0bcface86f0835714023f24f4,4,"""I promise to love you forever. As long as the...",Mon Aug 14 11:05:35 -0700 2017,Sun Aug 20 08:09:55 -0700 2017,Sat Aug 19 13:30:57 -0700 2017,Mon Aug 14 00:00:00 -0700 2017,8,0
1,01ec1a320ffded6b2dd47833f2c8e4fb,34377372,5308f2e435ed92c1630c0d9ead959641,5,"4.5 ""Big Red"" Stars!! \n OMG this is one of TH...",Thu May 04 10:03:17 -0700 2017,Sun Jun 25 12:39:26 -0700 2017,Sun Jun 25 12:39:26 -0700 2017,Tue Jun 20 23:00:58 -0700 2017,10,0
2,01ec1a320ffded6b2dd47833f2c8e4fb,34346381,e824a65f65ccbe69ae27ad656edaf3f6,4,"""He was so addictive. Like candy. Or drugs. On...",Thu Apr 27 22:44:30 -0700 2017,Tue Aug 15 05:57:10 -0700 2017,Mon Aug 14 13:49:10 -0700 2017,Sun Aug 13 12:27:48 -0700 2017,9,2
3,01ec1a320ffded6b2dd47833f2c8e4fb,34758250,e442eb21ffac09df2da965bcc885e576,4,I absolutely love when Mara White and K. Larse...,Tue Apr 04 06:58:06 -0700 2017,Sun Apr 09 15:11:50 -0700 2017,Sun Apr 09 15:47:34 -0700 2017,Tue Apr 04 06:58:06 -0700 2017,10,0
4,01ec1a320ffded6b2dd47833f2c8e4fb,33932353,42d513dbf8e4621ae164fd683ab2bbc5,4,"""You're all mystery, Vera. Half-truths and bol...",Mon Mar 13 13:12:55 -0700 2017,Thu Mar 30 07:06:12 -0700 2017,Thu Mar 23 12:57:43 -0700 2017,,15,0

In [33]:
df_reviews.drop(["user_id", "review_id", "date_added", "date_updated", "read_at", "started_at", "n_comments"], axis = 1, inplace = True)

In [34]:
df_reviews.head(10)

,book_id,rating,review_text,n_votes
0,32620360,4,"""I promise to love you forever. As long as the...",8
1,34377372,5,"4.5 ""Big Red"" Stars!! \n OMG this is one of TH...",10
2,34346381,4,"""He was so addictive. Like candy. Or drugs. On...",9
3,34758250,4,I absolutely love when Mara White and K. Larse...,10
4,33932353,4,"""You're all mystery, Vera. Half-truths and bol...",15
5,34211669,3,I read this delightfully smutty book in a few ...,6
6,28963772,4,"""You're the best mistake I've ever made."" \n '...",15
7,25906956,4,"""I love you with everything I am, Ember."" \n ""...",12
8,26062606,4,"WOW, what a totally surprising and inspiring r...",13
9,27064520,5,"""I think my whole fucking life has been an epi...",9

In [35]:
df_reviews["book_id"].value_counts()

book_id
6936382     5311
6068551     4005
13372690    2930
24445517    1837
16113791    1420
            ...
31295265       1
24280782       1
23362007       1
35069750       1
1630353        1
Name: count, Length: 9984, dtype: int64

In [36]:
df_reviews[df_reviews["rating"] == 1]

,book_id,rating,review_text,n_votes
58,406285,1,"not as fun as the devil wears prada, and just ...",0
95,6068551,1,twlight wanna be,0
159,8719258,1,I can't believe I finished this book.,0
225,35131119,1,This book was just not for me. While I could o...,1
239,7985419,1,Yawn.....the review had much promise to be a g...,0
...,...,...,...,...
118887,13584236,1,Poorly written and certainly anti-feminist. Th...,0
118896,13584236,1,The Fifty Shades Trilogy was a fantasy that wa...,0
118971,25430320,1,rwy@ khsr@ fyh lnjm@ .. msh m`qwl kmy@ lmll wl...,0
118984,26582,1,"Very disappointed in this anticipated read, as...",0
119015,6886977,1,Love it,0

In [37]:
df_reviews[df_reviews["rating"] == 1]["n_votes"].mean()

np.float64(2.1533130024951483)

In [40]:
def balanced_review_sampling(df, book_id, max_reviews=50):
    book_reviews = df[df['book_id'] == book_id]
    sampled = []

    # group by rating
    for rating, group in book_reviews.groupby('rating'):
        # proportional share
        n = max(1, int(len(group) / len(book_reviews) * max_reviews))
        # take top-n sorted by votes (if column exists)
        sampled.extend(group.sort_values("n_votes", ascending=False).head(n).to_dict(orient="records"))
    
    return sampled

sampled_reviews = balanced_review_sampling(df_reviews, book_id="6936382", max_reviews=50)

In [42]:
pd.DataFrame(sampled_reviews)

,book_id,rating,review_text,n_votes
0,6936382,0,"DNF \n Solo leA el 15%. \n dY""s SINOPSIS HONES...",72
1,6936382,1,"""I cheated on her every day. In my mind, I tho...",1366
2,6936382,2,2.5 stars \n Anna and the French Kiss is one o...,39
3,6936382,2,Likes: \n * Writing style (it was cheery and f...,28
4,6936382,3,"Ahem... well, this is awkward. This book was h...",26
5,6936382,3,An kai e istoria tou den ekhei na mas dosei ka...,24
6,6936382,3,For about 90% of this book my feelings were to...,23
7,6936382,3,When I set my sights on Anna and the French ki...,20
8,6936382,3,2017 PopSugar Reading Challenge #18: \n A book...,18
9,6936382,3,"""Boys turns girls into such idiots."" \n This b...",16
10,6936382,4,Awwwww *le sigh*. What an adorably romantic bo...,45
11,6936382,4,I started this book with no so many expectatio...,35
12,6936382,4,this definitely made me smile.,32
13,6936382,4,** spoiler alert ** \n This book was super ado...,26
14,6936382,4,Before I'm going to write my review I want to ...,23
15,6936382,4,I avoided this one because all the hype surrou...,21
16,6936382,4,"BANANA! Okay, so this was super cute but also ...",20
17,6936382,4,Anna and the French Kiss is a cute YA contempo...,20
18,6936382,4,"Would've been a perfect read, had Stephanie no...",17
19,6936382,4,4.5 stars. \n This may be the most perfect flu...,17
20,6936382,4,"I'm about six months late reading this book, a...",16
21,6936382,4,"French name, English accent, American school. ...",16
22,6936382,4,"""Welcome to Paris, Anna. I'm glad you've come....",14
23,6936382,4,"I wasn't going to read this book. Really, I wa...",13
24,6936382,5,Update after reading this book for the THIRD t...,326
25,6936382,5,Anna and the French Kiss: certified #1 cure fo...,137
26,6936382,5,4.5 stars. This is one of those books that you...,99
27,6936382,5,*** Read on 12/12/2010. Re-read from 08/09/201...,43
28,6936382,5,I loved it!!! \n Etienne St Clair fits Harry p...,40
29,6936382,5,every time i read this book (i think this is n...,39
30,6936382,5,Love. Love. Love. Love. LOVE! \n So... Yeah. I...,36
31,6936382,5,I'm not the contemporary romance type of girl....,34
32,6936382,5,Original review from Little Book Owl \n Full v...,33
33,6936382,5,"Favourite Quote: ""So what do I wish for? Somet...",32
34,6936382,5,"This was my third time reading this and, no su...",30
35,6936382,5,So cute! So fun! This is my kind of contemporary!,28
36,6936382,5,"Loved this, but I still liked Isla more. Now I...",27
37,6936382,5,We all have those books that we read that we c...,26
38,6936382,5,Oh my God LOVED IT LOVED IT LOVED IT LOVED IT!...,26
39,6936382,5,"*Reread May 2016* \n Man, I am such a sap for ...",26
40,6936382,5,Mwhah fwant mewieve fwow fuchs fwai vwuv fifs ...,24
41,6936382,5,Labelling this book: BEST BOOK I HAVE EVER REA...,23
42,6936382,5,My absolute favorite book I've read this year!,23
43,6936382,5,"eh, its okay. \n link to my Anna and the Frenc...",21
44,6936382,5,*4.5* \n I really really enjoyed this book and...,21
45,6936382,5,"I never thought I would ever buy this book, le...",20
46,6936382,5,I thoroughly enjoyed this book! My only regret...,20
47,6936382,5,Look at that cover. Look at that title. How ca...,19
48,6936382,5,I'll be honest. I wasn't sure I was the right ...,19

In [43]:
combined_reviews_romance = pd.DataFrame()

for id in book_ids :

    sampled_reviews = balanced_review_sampling(df_reviews, book_id=str(id), max_reviews=50)

    sampled_reviews = pd.DataFrame(sampled_reviews)

    combined_reviews_romance = pd.concat([combined_reviews_romance, sampled_reviews], axis = 0)

    
print (combined_reviews_romance.shape)

(75278, 4)

In [44]:
combined_reviews_romance.head()

,book_id,rating,review_text,n_votes
0,34883016,4,review to come,0
1,34883016,4,Playmaker is a F/F spinoff of the Venom series...,0
0,29074693,4,Nice Wrap Up \n Have enjoyed this series very ...,0
1,29074693,5,Malik left Eliana behind thinking that there w...,1
2,29074693,5,"Fitting end to series \n What a sweet, sexy st...",0

In [45]:
df_filt.shape

(10000, 11)

In [46]:
df_filt.columns

Index(['text_reviews_count', 'average_rating', 'description', 'authors',
       'publisher', 'num_pages', 'publication_month', 'publication_year',
       'book_id', 'title', 'title_without_series'],
      dtype='object')

In [48]:
combined_reviews_romance["book_id"] = combined_reviews_romance["book_id"].astype(int)

In [50]:
df_romance_final = df_filt.merge(combined_reviews_romance, on = "book_id")

del df_filt
del combined_reviews_romance

In [51]:
df_romance_final.head()

,text_reviews_count,average_rating,description,authors,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes
0,4,3.86,Secrets. Sometimes keeping them in confidence ...,"[{'author_id': '5807700', 'role': ''}]",Gone Writing Publishing,,5,2017,34883016,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,4,review to come,0
1,4,3.86,Secrets. Sometimes keeping them in confidence ...,"[{'author_id': '5807700', 'role': ''}]",Gone Writing Publishing,,5,2017,34883016,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,4,Playmaker is a F/F spinoff of the Venom series...,0
2,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",4,Nice Wrap Up \n Have enjoyed this series very ...,0
3,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",5,Malik left Eliana behind thinking that there w...,1
4,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",5,"Fitting end to series \n What a sweet, sexy st...",0

In [53]:
author_df = pd.read_json("data/goodreads_book_authors.json", lines = True)
author_df.head(10)

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740
5,3.89,3041852,85,Alfred J. Church,947
6,4.17,215594,6,Michael Halberstam,23
7,4.18,19158,486,Rachel Roberts,13677
8,3.99,5807700,986,V.L. Locey,3130
9,3.48,2983296,824,Anton Szandor LaVey,12628

In [54]:
df_romance_final.tail()

,text_reviews_count,average_rating,description,authors,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes
75273,123,3.75,,"[{'author_id': '6442717', 'role': ''}]",Smashwords Edition,,2,2013,17205525,The Submission of Alistair Ingram (Dolls & Dom...,The Submission of Alistair Ingram (Dolls & Dom...,5,Wow I loved Alistair and Black Betty. So hot h...,0
75274,123,3.75,,"[{'author_id': '6442717', 'role': ''}]",Smashwords Edition,,2,2013,17205525,The Submission of Alistair Ingram (Dolls & Dom...,The Submission of Alistair Ingram (Dolls & Dom...,5,Review to come soon!,0
75275,123,3.75,,"[{'author_id': '6442717', 'role': ''}]",Smashwords Edition,,2,2013,17205525,The Submission of Alistair Ingram (Dolls & Dom...,The Submission of Alistair Ingram (Dolls & Dom...,5,"liked it, which it went on, and on",0
75276,3,3.08,What if Colonel Fitzwilliam told Mr. Darcy tha...,"[{'author_id': '4087130', 'role': ''}]",,,,,18850258,Pemberley Weddings,Pemberley Weddings,3,"Pemberley Weddings was a quick and clever, yet...",3
75277,3,3.08,What if Colonel Fitzwilliam told Mr. Darcy tha...,"[{'author_id': '4087130', 'role': ''}]",,,,,18850258,Pemberley Weddings,Pemberley Weddings,3,This was a sweet simple story. I would have li...,0

In [55]:
import ast

df_romance_final["authors_parsed"] = df_romance_final["authors"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

In [56]:
df_romance_final.head(3)

,text_reviews_count,average_rating,description,authors,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes,authors_parsed
0,4,3.86,Secrets. Sometimes keeping them in confidence ...,"[{'author_id': '5807700', 'role': ''}]",Gone Writing Publishing,,5,2017,34883016,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,4,review to come,0,"[{'author_id': '5807700', 'role': ''}]"
1,4,3.86,Secrets. Sometimes keeping them in confidence ...,"[{'author_id': '5807700', 'role': ''}]",Gone Writing Publishing,,5,2017,34883016,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,4,Playmaker is a F/F spinoff of the Venom series...,0,"[{'author_id': '5807700', 'role': ''}]"
2,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",4,Nice Wrap Up \n Have enjoyed this series very ...,0,"[{'author_id': '5360266', 'role': ''}]"

In [57]:
df_romance_final["author_id"] = df_romance_final["authors_parsed"].apply(
    lambda lst: lst[0]["author_id"] if isinstance(lst, list) and len(lst) > 0 else None
)

In [58]:
df_romance_final.head()

,text_reviews_count,average_rating,description,authors,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes,authors_parsed,author_id
0,4,3.86,Secrets. Sometimes keeping them in confidence ...,"[{'author_id': '5807700', 'role': ''}]",Gone Writing Publishing,,5,2017,34883016,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,4,review to come,0,"[{'author_id': '5807700', 'role': ''}]",5807700
1,4,3.86,Secrets. Sometimes keeping them in confidence ...,"[{'author_id': '5807700', 'role': ''}]",Gone Writing Publishing,,5,2017,34883016,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,4,Playmaker is a F/F spinoff of the Venom series...,0,"[{'author_id': '5807700', 'role': ''}]",5807700
2,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",4,Nice Wrap Up \n Have enjoyed this series very ...,0,"[{'author_id': '5360266', 'role': ''}]",5360266
3,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",5,Malik left Eliana behind thinking that there w...,1,"[{'author_id': '5360266', 'role': ''}]",5360266
4,21,4.23,,"[{'author_id': '5360266', 'role': ''}]",,,,,29074693,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",5,"Fitting end to series \n What a sweet, sexy st...",0,"[{'author_id': '5360266', 'role': ''}]",5360266

In [59]:
df_romance_final["author_id"].isna().sum()

np.int64(0)

In [60]:
df_romance_final.drop(["authors", "authors_parsed"], axis = 1, inplace = True)
df_romance_final.shape

(75278, 14)

In [64]:
author_df["author_id"] = author_df["author_id"].astype(int)
df_romance_final["author_id"] = df_romance_final["author_id"].astype(int)

In [66]:
df_romance_final = df_romance_final.merge(author_df[["author_id", "name"]], on = "author_id")

In [67]:
df_romance_final.tail(3)

,text_reviews_count,average_rating,description,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes,author_id,name
75275,123,3.75,,Smashwords Edition,,2,2013,17205525,The Submission of Alistair Ingram (Dolls & Dom...,The Submission of Alistair Ingram (Dolls & Dom...,5,"liked it, which it went on, and on",0,6442717,Kelli Maine
75276,3,3.08,What if Colonel Fitzwilliam told Mr. Darcy tha...,,,,,18850258,Pemberley Weddings,Pemberley Weddings,3,"Pemberley Weddings was a quick and clever, yet...",3,4087130,Renata McMann
75277,3,3.08,What if Colonel Fitzwilliam told Mr. Darcy tha...,,,,,18850258,Pemberley Weddings,Pemberley Weddings,3,This was a sweet simple story. I would have li...,0,4087130,Renata McMann

In [68]:
df_romance_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75278 entries, 0 to 75277
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   text_reviews_count    75278 non-null  int64
 1   average_rating        75278 non-null  float64
 2   description           75278 non-null  object
 3   publisher             75278 non-null  object
 4   num_pages             75278 non-null  object
 5   publication_month     75278 non-null  object
 6   publication_year      75278 non-null  object
 7   book_id               75278 non-null  int64
 8   title                 75278 non-null  object
 9   title_without_series  75278 non-null  object
 10  rating                75278 non-null  int64
 11  review_text           75278 non-null  object
 12  n_votes               75278 non-null  int64
 13  author_id             75278 non-null  int64
 14  name                  75278 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 8.6+ MB

In [69]:
df_romance_final["num_pages"].value_counts()

num_pages
       21782
320     1507
384     1454
288     1026
352      887
       ...
848        1
532        1
585        1
651        1
831        1
Name: count, Length: 621, dtype: int64

In [71]:
df_romance_final["num_pages"] = (
    df_romance_final["num_pages"]
    .replace('', 1)
    .fillna(1)           # also handle NaN
    .astype(int)         # ensure numeric
)

In [72]:
df_romance_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75278 entries, 0 to 75277
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   text_reviews_count    75278 non-null  int64
 1   average_rating        75278 non-null  float64
 2   description           75278 non-null  object
 3   publisher             75278 non-null  object
 4   num_pages             75278 non-null  int64
 5   publication_month     75278 non-null  object
 6   publication_year      75278 non-null  object
 7   book_id               75278 non-null  int64
 8   title                 75278 non-null  object
 9   title_without_series  75278 non-null  object
 10  rating                75278 non-null  int64
 11  review_text           75278 non-null  object
 12  n_votes               75278 non-null  int64
 13  author_id             75278 non-null  int64
 14  name                  75278 non-null  object
dtypes: float64(1), int64(6), object(8)
memory usage: 8.6+ MB

In [73]:
## save the df

df_romance_final.to_csv("data/df_romance_final.csv", index = False)

In [74]:
del df_romance_final

In [75]:
## load comics and preprocess the same way

df = pd.read_json("data/goodreads_books_comics_graphic.json", lines = True,)

df.shape

(89411, 29)

In [76]:
df.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[],US,,"[{'count': '228', 'name': 'to-read'}, {'count'...",B00NLXQ534,true,4.12,,...,,,,https://www.goodreads.com/book/show/25742454-t...,https://s.gr-assets.com/assets/nophoto/book/11...,25742454,1,42749946,The Switchblade Mamma,The Switchblade Mamma
1,2205073346,2,[],US,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",,false,3.94,,...,1,,2016,https://www.goodreads.com/book/show/30128855-c...,https://images.gr-assets.com/books/1462644346m...,30128855,16,50558228,Cruelle,Cruelle
2,,5,"[246830, 362583, 362581, 623032]",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",,false,4.28,,...,,,2012,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...
3,,1,[],US,eng,"[{'count': '222', 'name': 'to-read'}, {'count'...",B06XKGGSB7,true,4.05,B06XKGGSB7,...,,,,https://www.goodreads.com/book/show/35452242-b...,https://s.gr-assets.com/assets/nophoto/book/11...,35452242,6,54276229,Bounty Hunter 4/3: My Life in Combat from Mari...,Bounty Hunter 4/3: My Life in Combat from Mari...
4,0930289765,6,"[266759, 1096220]",US,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",,false,4.06,,...,11,,1997,https://www.goodreads.com/book/show/707611.Sup...,https://images.gr-assets.com/books/1307838888m...,707611,51,693886,"Superman Archives, Vol. 2","Superman Archives, Vol. 2"

In [80]:
df_filt = df.sort_values(by = "ratings_count", ascending = False).head(10000)

df_filt["average_rating"].mean()

np.float64(4.114221)

In [81]:
df_filt["average_rating"].min(), df_filt["average_rating"].median()

(np.float64(1.91), np.float64(4.16))

In [82]:
df_filt[df_filt["average_rating"] < 3]

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
67680,,463,[854306],US,eng,"[{'count': '2559', 'name': 'to-read'}, {'count...",,false,2.78,,...,9,Graphic Novel,2016,https://www.goodreads.com/book/show/28146168-a...,https://images.gr-assets.com/books/1449606314m...,28146168,1864,48158907,"Angel Catbird, Vol. 1 (Angel Catbird, #1)","Angel Catbird, Vol. 1 (Angel Catbird, #1)"
18604,1401234860,181,"[406228, 1136352]",US,eng,"[{'count': '410', 'name': 'to-read'}, {'count'...",,false,2.93,B008EX1YF0,...,6,,2012,https://www.goodreads.com/book/show/13228175-g...,https://images.gr-assets.com/books/1340153453m...,13228175,1545,18420065,"Green Arrow, Volume 1: The Midas Touch","Green Arrow, Volume 1: The Midas Touch"
8046,,273,[],US,ara,"[{'count': '2144', 'name': 'to-read'}, {'count...",,false,2.56,,...,1,1st,2015,https://www.goodreads.com/book/show/24000357,https://images.gr-assets.com/books/1420829715m...,24000357,1331,43600547,حكايات سيكوباتية,حكايات سيكوباتية
27369,1506700632,182,[854306],US,eng,"[{'count': '2557', 'name': 'to-read'}, {'count...",,false,2.78,B01IA68K16,...,9,,2016,https://www.goodreads.com/book/show/28186137-a...,https://images.gr-assets.com/books/1478648506m...,28186137,749,48158907,"Angel Catbird, Volume 1","Angel Catbird, Volume 1"
40400,1401238424,102,"[406229, 549608, 1136353]",US,eng,"[{'count': '283', 'name': 'to-read'}, {'count'...",,false,2.62,B00B5I750E,...,1,,2013,https://www.goodreads.com/book/show/15794740-g...,https://images.gr-assets.com/books/1360000501m...,15794740,720,21516881,"Green Arrow, Volume 2: Triple Threat","Green Arrow, Volume 2: Triple Threat"
83810,193727800X,169,[],US,eng,"[{'count': '143', 'name': 'to-read'}, {'count'...",,false,1.91,,...,10,,2011,https://www.goodreads.com/book/show/12024200-h...,https://images.gr-assets.com/books/1327879682m...,12024200,702,16990103,Holy Terror,Holy Terror
36296,1401267793,144,[966112],US,eng,"[{'count': '863', 'name': 'to-read'}, {'count'...",,false,2.83,B01M1CRN35,...,1,Trade,2017,https://www.goodreads.com/book/show/31224224-j...,https://images.gr-assets.com/books/1476757729m...,31224224,666,51880379,"Justice League, Volume 1: The Extinction Machines","Justice League, Volume 1: The Extinction Machines"
67657,1401270670,116,"[944262, 966153, 967934, 1065352]",US,eng,"[{'count': '759', 'name': 'to-read'}, {'count'...",,false,2.85,B01N2APVN8,...,2,,2017,https://www.goodreads.com/book/show/30891735-b...,https://images.gr-assets.com/books/1487648717m...,30891735,639,51498506,Batman: Night of the Monster Men,Batman: Night of the Monster Men
79942,0785190953,93,"[818993, 871140]",US,eng,"[{'count': '84', 'name': 'comics'}, {'count': ...",,false,2.93,B00SJIRUZ8,...,3,Deluxe Edition,2015,https://www.goodreads.com/book/show/23017955-a...,https://images.gr-assets.com/books/1411230905m...,23017955,612,42587504,Avengers & X-Men: AXIS,Avengers & X-Men: AXIS
9996,0785122699,55,[187576],US,en-US,"[{'count': '151', 'name': 'to-read'}, {'count'...",,false,2.41,,...,,,,https://www.goodreads.com/book/show/6469238-th...,https://s.gr-assets.com/assets/nophoto/book/11...,6469238,598,14119412,The Ultimates 3: Who Killed the Scarlet Witch?,The Ultimates 3: Who Killed the Scarlet Witch?
55632,1442465409,145,[],US,eng,"[{'count': '343', 'name': 'to-read'}, {'count'...",,false,2.96,,...,4,,2013,https://www.goodreads.com/book/show/15000181-w...,https://images.gr-assets.com/books/1345678705m...,15000181,598,20654736,Who Is AC?,Who Is AC?
83073,0061646652,135,[],US,,"[{'count': '206', 'name': 'to-read'}, {'count'...",,false,2.69,B004HD62LM,...,,Graphic Novel,,https://www.goodreads.com/book/show/9171326-co...,https://images.gr-assets.com/books/1328278246m...,9171326,572,14050554,Cowboys and Aliens,Cowboys and Aliens
60050,1560977469,99,[],US,,"[{'count': '200', 'name': 'to-read'}, {'count'...",,false,2.90,B0191ZK5WC,...,7,,2006,https://www.goodreads.com/book/show/47090.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,47090,552,46144,The Squirrel Mother,The Squirrel Mother
82039,1606998331,97,[],US,eng,"[{'count': '262', 'name': 'to-read'}, {'count'...",,false,2.82,B013XS1AKY,...,4,,2015,https://www.goodreads.com/book/show/24352045-b...,https://s.gr-assets.com/assets/nophoto/book/11...,24352045,532,43933595,Black River,Black River
73913,1845763513,32,[305099],US,eng,"[{'count': '221', 'name': 'to-read'}, {'count'...",,false,2.97,,...,,,2007,https://www.goodreads.com/book/show/827407.Albion,https://s.gr-assets.com/assets/nophoto/book/11...,827407,488,813131,Albion,Albion
27741,,43,[547958],US,ara,"[{'count': '535', 'name': 'to-read'}, {'count'...",,false,2.95,,...,,lTb`@ l'wl~,,https://www.goodreads.com/book/show/8286417,https://s.gr-assets.com/assets/nophoto/book/11...,8286417,481,13134813,أسطورة ميسيا,أسطورة ميسيا
72988,1401256864,105,"[1084802, 837978, 1035043, 1065346]",US,eng,"[{'count': '527', 'name': 'to-read'}, {'count'...",,false,2.80,B0159C1Z2A,...,10,First,2015,https://www.goodreads.com/book/show/25607370-c...,https://images.gr-assets.com/books/1446327873m...,25607370,469,45417110,Convergence,Convergence
29822,0785149902,37,"[1110471, 858550]",US,eng,"[{'count': '137', 'name': 'to-read'}, {'count'...",,false,2.94,B00PSN1EDG,...,3,,2011,https://www.goodreads.com/book/show/9209985-sh...,https://images.gr-assets.com/books/1450649512m...,9209985,449,14283384,Shadowland: Daredevil,Shadowland: Daredevil
76632,1401252753,112,[759663],US,en-GB,"[{'count': '964', 'name': 'to-read'}, {'count'...",,false,2.87,B00XV8Y2DY,...,6,,2015,https://www.goodreads.com/book/show/23164969-b...,https://images.gr-assets.com/books/1413129899m...,23164969,447,42710990,Bodies,Bodies
25747,159291229X,73,[602265],US,eng,"[{'count': '213', 'name': 'to-read'}, {'count'...",,false,2.85,,...,5,First,2014,https://www.goodreads.com/book/show/20673698-g...,https://images.gr-assets.com/books/1393761172m...,20673698,435,39971467,"God Is Dead, Volume 1","God Is Dead, Volume 1"
1243,0451230116,110,[],US,,"[{'count': '44', 'name': 'to-read'}, {'count':...",,false,2.90,B003YFJ5I6,...,,,,https://www.goodreads.com/book/show/7494986-wa...,https://s.gr-assets.com/assets/nophoto/book/11...,7494986,434,9646909,"War is Boring: Bored Stiff, Scared to Death in...","War is Boring: Bored Stiff, Scared to Death in..."

In [87]:
df.sort_values(by = ["average_rating", "ratings_count"], ascending = True).head(2000)

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
22400,,1,[],US,,"[{'count': '3', 'name': 'to-read'}, {'count': ...",,false,0.00,,...,,,,https://www.goodreads.com/book/show/13053211-t...,https://s.gr-assets.com/assets/nophoto/book/11...,13053211,0,18218196,Tragic Death of Aimy Micry,Tragic Death of Aimy Micry
24652,,1,[],US,,"[{'count': '1', 'name': 'european-comics'}, {'...",,false,0.00,,...,,,,https://www.goodreads.com/book/show/20511109-l...,https://images.gr-assets.com/books/1389447609m...,20511109,0,35592729,Les aventures de Blondin et Cirage - Le Nègre ...,Les aventures de Blondin et Cirage - Le Nègre ...
36741,1941302351,1,[],US,,"[{'count': '18', 'name': 'to-read'}, {'count':...",,false,0.00,,...,,,,https://www.goodreads.com/book/show/36054144-v...,https://s.gr-assets.com/assets/nophoto/book/11...,36054144,0,57631504,Voltron Legendary Defender Vol. 2: The Pilgrimage,Voltron Legendary Defender Vol. 2: The Pilgrimage
37453,,1,[],US,,"[{'count': '2', 'name': 'comics'}]",,false,0.00,,...,,,2010,https://www.goodreads.com/book/show/11082126-n...,https://s.gr-assets.com/assets/nophoto/book/11...,11082126,0,16003766,Night Machine,Night Machine
42341,,1,[],US,eng,"[{'count': '92', 'name': 'to-read'}, {'count':...",,false,0.00,,...,,,2018,https://www.goodreads.com/book/show/33307411-m...,https://images.gr-assets.com/books/1481429165m...,33307411,0,54044031,"Mercy, Volume 1","Mercy, Volume 1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78542,1631406280,16,[],US,,"[{'count': '9', 'name': 'graphic-novels'}, {'c...",,false,2.91,,...,6,,2016,https://www.goodreads.com/book/show/28862492-l...,https://images.gr-assets.com/books/1463952946m...,28862492,33,49093062,"Luna the Vampire, Volume 1: Grumpy Space","Luna the Vampire, Volume 1: Grumpy Space"
68861,1932386793,13,[],US,,"[{'count': '20', 'name': 'to-read'}, {'count':...",,false,2.91,,...,2,,2011,https://www.goodreads.com/book/show/6978000-in...,https://images.gr-assets.com/books/1392576116m...,6978000,34,7219006,Inanna's Tears,Inanna's Tears
55115,,2,[1134718],US,eng,"[{'count': '3', 'name': 'to-read'}, {'count': ...",B00N1ECQ1S,true,2.91,B00N1ECQ1S,...,,,,https://www.goodreads.com/book/show/24004111-l...,https://s.gr-assets.com/assets/nophoto/book/11...,24004111,40,42853638,Lobo #1,Lobo #1
34803,,3,[],US,eng,"[{'count': '20', 'name': 'manga'}, {'count': '...",,false,2.91,,...,,,2009,https://www.goodreads.com/book/show/11915425-1...,https://images.gr-assets.com/books/1319645356m...,11915425,43,16874949,$100 Is Too Cheap,$100 Is Too Cheap
86696,097842770X,9,[],US,,"[{'count': '31', 'name': 'to-read'}, {'count':...",,false,2.91,,...,10,,2008,https://www.goodreads.com/book/show/3630889-jo...,https://s.gr-assets.com/assets/nophoto/book/11...,3630889,44,3673716,Jobnik!,Jobnik!

In [89]:
df_filt = pd.concat([df_filt, df.sort_values(by = ["average_rating", "ratings_count"], ascending = True).head(2000)])

In [90]:
del df

In [91]:
df_filt = df_filt[["text_reviews_count", "average_rating", "description", "authors", "publisher", "num_pages", "publication_month",
"publication_year", "book_id", "title", "title_without_series"]]

df_filt.shape

(12000, 11)

In [92]:
book_ids = df_filt["book_id"].values.tolist()
book_ids[:5]

[472331, 5805, 15196, 138398, 59980]

In [93]:
filtered = []
needed_ids = set(book_ids)

with open("data/goodreads_reviews_comics_graphic.json", "r") as f:
    for line in f:
        obj = json.loads(line)
        if int(obj["book_id"]) in needed_ids:
            filtered.append(obj)

# Convert to DataFrame
df_reviews = pd.DataFrame(filtered)
print(df_reviews.head())

                            user_id   book_id  \
0  bafc2d50014200cda7cb2b6acd60cd73   2239435
1  bafc2d50014200cda7cb2b6acd60cd73  13094398
2  bafc2d50014200cda7cb2b6acd60cd73  13630859
3  0ef32090550901ead25cb0ea21c4d36b  15984307
4  0ef32090550901ead25cb0ea21c4d36b  25243735

                          review_id  rating  \
0  cc444be37ab0a42bfb4dd818cb5edd10       4
1  1b8888aa0587871d2a29ff70689e9e13       3
2  e5c2182824a8b9b229f094f9967d485d       5
3  254e87a659219b522464115d0062f500       3
4  d127df5412fd54a6cd7bf611c0386201       4

                                         review_text  \
0  The only thing more entertaining than this boo...
1  Zombies... I really don't like zombies. That s...
2  More tears than laughter in this one. I'm both...
3  I checked this out of the library as their Val...
4  I got this in my Book Riot Horror Box and devo...

                       date_added                    date_updated  \
0  Wed Apr 03 12:37:48 -0700 2013  Wed Apr 03 13:03:36 -0700 2013
1  Mon Feb 04 09:28:00 -0800 2013  Mon Feb 04 09:28:59 -0800 2013
2  Thu Jun 07 05:15:31 -0700 2012  Tue Sep 04 10:54:39 -0700 2012
3  Mon Feb 27 10:19:59 -0800 2017  Mon Feb 27 10:23:21 -0800 2017
4  Sat Dec 05 13:19:04 -0800 2015  Sat Dec 05 13:26:29 -0800 2015

                          read_at                      started_at  n_votes  \
0  Wed Apr 03 13:03:36 -0700 2013                                        0
1  Sun Feb 03 00:00:00 -0800 2013  Sat Feb 02 00:00:00 -0800 2013        0
2  Tue Sep 04 10:54:39 -0700 2012  Tue Sep 04 00:00:00 -0700 2012        0
3  Sat Feb 25 00:00:00 -0800 2017  Sat Feb 11 00:00:00 -0800 2017        0
4  Sat Dec 05 13:26:29 -0800 2015  Sat Dec 05 00:00:00 -0800 2015        0

   n_comments
0           0
1           0
2           0
3           0
4           0

In [94]:
df_reviews.shape

(341825, 11)

In [95]:
df_reviews.drop(["user_id", "review_id", "date_added", "date_updated", "read_at", "started_at", "n_comments"], axis = 1, inplace = True)

In [103]:
combined_reviews_comics = pd.DataFrame()

for id in needed_ids :

    sampled_reviews = balanced_review_sampling(df_reviews, book_id=str(id), max_reviews=50)

    sampled_reviews = pd.DataFrame(sampled_reviews)

    combined_reviews_comics = pd.concat([combined_reviews_comics, sampled_reviews], axis = 0)

    
print (combined_reviews_comics.shape)

(199313, 4)

In [104]:
combined_reviews_comics.head()

,book_id,rating,review_text,n_votes
0,17137667,0,Uninterested.,0
1,17137667,1,Completely unreadable due to the fact that eve...,1
2,17137667,1,This really is pretty bad! Now I have to sit t...,0
3,17137667,1,I'm done with this \n There I said it... They ...,0
4,17137667,1,This volume was so disjointed that it was diff...,0

In [105]:
combined_reviews_comics["book_id"].value_counts()

book_id
6345999     51
16164271    51
23093367    51
17131869    51
1894269     51
            ..
23491478     1
23491474     1
23675587     1
13448494     1
18659256     1
Name: count, Length: 11982, dtype: int64

In [106]:
len(book_ids)

12000

In [107]:
len(needed_ids)

11985

In [111]:
df_filt.drop_duplicates(subset = "book_id", inplace = True)

In [112]:
combined_reviews_comics["book_id"] = combined_reviews_comics["book_id"].astype(int)

In [113]:
df_comics_final = df_filt.merge(combined_reviews_comics, on = "book_id")

del df_filt
del combined_reviews_comics

In [114]:
df_comics_final["authors_parsed"] = df_comics_final["authors"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

df_comics_final["author_id"] = df_comics_final["authors_parsed"].apply(
    lambda lst: lst[0]["author_id"] if isinstance(lst, list) and len(lst) > 0 else None
)

In [115]:
df_comics_final.head()

,text_reviews_count,average_rating,description,authors,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes,authors_parsed,author_id
0,10057,4.35,This Hugo Award-winning graphic novel chronicl...,"[{'author_id': '3961', 'role': ''}, {'author_i...",,416,,2005,472331,Watchmen,Watchmen,0,"Occasionally, I read a book that is so stunnin...",1,"[{'author_id': '3961', 'role': ''}, {'author_i...",3961
1,10057,4.35,This Hugo Award-winning graphic novel chronicl...,"[{'author_id': '3961', 'role': ''}, {'author_i...",,416,,2005,472331,Watchmen,Watchmen,1,I realize that what I'm about to say is as clo...,112,"[{'author_id': '3961', 'role': ''}, {'author_i...",3961
2,10057,4.35,This Hugo Award-winning graphic novel chronicl...,"[{'author_id': '3961', 'role': ''}, {'author_i...",,416,,2005,472331,Watchmen,Watchmen,2,So it's now apparently sacrilege to criticize ...,19,"[{'author_id': '3961', 'role': ''}, {'author_i...",3961
3,10057,4.35,This Hugo Award-winning graphic novel chronicl...,"[{'author_id': '3961', 'role': ''}, {'author_i...",,416,,2005,472331,Watchmen,Watchmen,2,I'm prepared to get pelted with rotten vegetab...,9,"[{'author_id': '3961', 'role': ''}, {'author_i...",3961
4,10057,4.35,This Hugo Award-winning graphic novel chronicl...,"[{'author_id': '3961', 'role': ''}, {'author_i...",,416,,2005,472331,Watchmen,Watchmen,3,While I appreciate this novel as an iconic gro...,16,"[{'author_id': '3961', 'role': ''}, {'author_i...",3961

In [116]:
df_comics_final.drop(["authors", "authors_parsed"], axis = 1, inplace = True)

In [118]:
df_comics_final["author_id"] = df_comics_final["author_id"].astype(int)

In [120]:
df_comics_final = df_comics_final.merge(author_df[["author_id", "name"]], on = "author_id")

In [121]:
df_comics_final["num_pages"] = (
    df_comics_final["num_pages"]
    .replace('', 1)
    .fillna(1)           # also handle NaN
    .astype(int)         # ensure numeric
)

In [122]:
import numpy as np

In [123]:
unique_books = df_comics_final["book_id"].unique()

np.random.seed(42)
prices = np.random.lognormal(mean=2.5, sigma=0.5, size=len(unique_books)).round(2)

price_map = dict(zip(unique_books, prices))

df_comics_final["price"] = df_comics_final["book_id"].map(price_map)

In [124]:
df_comics_final.head()

,text_reviews_count,average_rating,description,publisher,num_pages,publication_month,publication_year,book_id,title,title_without_series,rating,review_text,n_votes,author_id,name,price
0,10057,4.35,This Hugo Award-winning graphic novel chronicl...,,416,,2005,472331,Watchmen,Watchmen,0,"Occasionally, I read a book that is so stunnin...",1,3961,Alan Moore,15.62
1,10057,4.35,This Hugo Award-winning graphic novel chronicl...,,416,,2005,472331,Watchmen,Watchmen,1,I realize that what I'm about to say is as clo...,112,3961,Alan Moore,15.62
2,10057,4.35,This Hugo Award-winning graphic novel chronicl...,,416,,2005,472331,Watchmen,Watchmen,2,So it's now apparently sacrilege to criticize ...,19,3961,Alan Moore,15.62
3,10057,4.35,This Hugo Award-winning graphic novel chronicl...,,416,,2005,472331,Watchmen,Watchmen,2,I'm prepared to get pelted with rotten vegetab...,9,3961,Alan Moore,15.62
4,10057,4.35,This Hugo Award-winning graphic novel chronicl...,,416,,2005,472331,Watchmen,Watchmen,3,While I appreciate this novel as an iconic gro...,16,3961,Alan Moore,15.62

In [125]:
df_comics_final["price"].min(), df_comics_final["price"].max(), df_comics_final["price"].median()

(np.float64(1.71), np.float64(86.76), np.float64(12.17))

In [126]:
df_comics_final.to_csv("data/df_comics_final.csv", index = False)

del df_comics_final

In [128]:
df_romance_final = pd.read_csv("data/df_romance_final.csv")

unique_books = df_romance_final["book_id"].unique()

np.random.seed(42)
prices = np.random.normal(loc=15, scale=5, size=len(unique_books))

prices = np.clip(prices, 3, 60).round(2)

price_map = dict(zip(unique_books, prices))

df_romance_final["price"] = df_romance_final["book_id"].map(price_map)

df_romance_final["price"].min(), df_romance_final["price"].max(), df_romance_final["price"].median()

(np.float64(3.0), np.float64(34.63), np.float64(14.99))

In [129]:
df_romance_final.to_csv("data/df_romance_final.csv", index = False)

del df_romance_final

In [130]:
df_romance_final = pd.read_csv("data/df_romance_final.csv")

In [135]:
df_romance_final.loc[1, "review_text"]

"Playmaker is a F/F spinoff of the Venom series. So That makes it a book 4.5 or 5. I think it can stand alone pretty well, but there is a lot of characters from the series in the story too. So you may want to read them all so you know the other characters and because they are fun, awesome reads. \n Also, I want to say you don't have to be a big hockey or sports fan to enjoy the story either. It is a great romance and focuses around that. \n Whitney has been hiding her sexuality from her teammates. She has even gone as far as trying to come off as a player and acting as she had slept with lots of the hockey players. She finally gave that up and began hanging in the background pushing people away. Except for Stephanie and Helen. \n She meets a cute college student that couldn't be more her opposite, and they bond quickly, but Hannah is not in the closet and refuses to be a dirty little secret, so will Whitney stay in the closet or will love win? I will let you read and find out. \n I love V. L. Locey's way with characters and every book she writes surprises me and makes me deliriously happy. I love the opposites attract theme of the story and the LGTBQ story line. I also like how the comradery fits in with her teammates as well. V>L. Has a way to mix her characters, a great storyline, and hockey to tell a great story and come across with a powerful life lesson as well. \n My only issue was I wish the story was just a little longer. I felt like it came to a sudden end, though it was a good ending I would have liked to seen more. I cannot wait for the next venom book to see who is next on the love roster. \n If you like hockey, F/F stories, opposites attract, coming out, and a steamy romance this is for you."

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/df_romance_final.csv")
df.isna().sum()

text_reviews_count          0
average_rating              0
description              3713
publisher               26256
num_pages                   0
publication_month       18805
publication_year        17222
book_id                     0
title                       0
title_without_series        0
rating                      0
review_text                51
n_votes                     0
author_id                   0
name                        0
price                       0
dtype: int64

In [4]:
df.shape

(75278, 16)

In [6]:
df.dropna(subset = "review_text", inplace = True)
df.isna().sum()

text_reviews_count          0
average_rating              0
description              3711
publisher               26234
num_pages                   0
publication_month       18796
publication_year        17216
book_id                     0
title                       0
title_without_series        0
rating                      0
review_text                 0
n_votes                     0
author_id                   0
name                        0
price                       0
dtype: int64

In [7]:
df["publication_month"].fillna(int(df["publication_month"].median()), inplace=True)
df["publication_year"].fillna(int(df["publication_year"].median()), inplace=True)

df["publisher"].fillna("", inplace=True)
df["description"].fillna("", inplace=True)

/var/folders/t1/89ynv71n2fz9112hcp4b0wvm0000gn/T/ipykernel_89301/140587987.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["publication_month"].fillna(int(df["publication_month"].median()), inplace=True)
/var/folders/t1/89ynv71n2fz9112hcp4b0wvm0000gn/T/ipykernel_89301/140587987.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["publication_year"].fillna(int(df["publication_year"].median()), inplace=True)

In [8]:
df.isna().sum()

text_reviews_count      0
average_rating          0
description             0
publisher               0
num_pages               0
publication_month       0
publication_year        0
book_id                 0
title                   0
title_without_series    0
rating                  0
review_text             0
n_votes                 0
author_id               0
name                    0
price                   0
dtype: int64

In [9]:
df.to_csv("data/df_romance_final.csv", index = False)

del df